.social {
    display: flex;
    gap: 0.75em;
    position: absolute;
    bottom: 20px;
    right: 0;
    z-index: 99;
    pointer-events: auto;

    &.column {
        flex-direction: column;
    }

    &_link {
        a {
            svg {
                font-size: 1.1em;
                color: #fff;
            }
        }
    }
}
