@use '@/styles/_dirs/variables';

.about {
    &_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 3em;
        padding: 7em 2em;
    }

    &_info {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1em;

        p {
            line-height: 1.5em;
            text-align: justify;
            max-width: 800px;
            width: 100%;
        }
    }

    &_team {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2em;

        .team {
            width: 100%;
            display: grid;
            place-content: center;
            grid-template-columns: repeat(2, minmax(200px, 250px));
            gap: 2em;
        }
    }

    .trace {
        display: flex;
        justify-content: center;
        height: 300px;
        width: 100%;

        > div {
            width: 1px;
            height: 100%;
            position: relative;

            > div {
                display: flex;

                width: 100%;
                height: 0%;
                position: absolute;
                top: 0;
                background-color: #fff;
                animation: up 0.5s forwards;
                animation-timeline: scroll();
                animation-range: cover 15% cover 65%;

                @keyframes up {
                    to {
                        height: 100%;
                    }
                }
            }

            &:after,
            &:before {
                content: '';
                position: absolute;
                left: -2px;
                height: 5px;
                width: 5px;
                border-radius: 50%;
                background: #fff;
            }

            &:after {
                top: 0;
            }

            &:before {
                bottom: 0;
            }
        }
    }
}
