@use '@/styles/_dirs/variables';

.header {
    width: 100%;
    padding: 1em 2em;
    z-index: 99;
    transition: color 0.1s ease-in-out, background-color 0.1s ease-in-out;
    border-bottom: 1px solid variables.$primary_color;
    color: #fff;

    &.sticky {
        position: sticky;
        top: 0;
        border-color: #fff;
    }

    &.fixed {
        position: fixed;
        top: 0;
        left: 0;
    }

    &_container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &_title {
        z-index: 99;
    }

    &_links {
        @media (max-width: 768px) {
            display: none;
        }
    }

    &_hamburger {
        display: none;
        width: 35px;
        height: 25px;
        position: relative;
        cursor: pointer;
        z-index: 99;

        @media (max-width: 768px) {
            display: block;
        }

        .trace,
        &::after,
        &::before {
            transition: 0.5s ease-in-out;
        }

        .trace {
            height: 3px;
            width: 100%;
            position: absolute;
            border-radius: 0.5em;
            background-color: #fff;
            left: 0;
            top: calc(50% - 1.5px);
        }

        &::after,
        &:before {
            content: '';
            height: 3px;
            width: 70%;
            position: absolute;
            border-radius: 0.5em;
            background-color: #fff;
        }

        &::after {
            top: 0;
            left: 0;
        }

        &::before {
            bottom: 0;
            right: 0;
        }

        &.active {
            .trace {
                width: 0%;
                left: 50%;
                opacity: 0;
                rotate: 720deg;
            }

            &::after {
                top: calc(50% - 1.5px);
                rotate: 310deg;
                left: 5px;
            }

            &::before {
                top: calc(50% - 1.5px);
                rotate: -310deg;
                left: 5px;
            }
        }
    }

    &:not(.onTop) {
        background: #000;
        border-color: #fff;
    }
}
