.slide {
    height: 100%;
    min-height: 500px;
    width: 100%;
    position: relative;
}

.slide_fixed {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 10;
    padding: 0 2em;
    pointer-events: none;
}
